version: 2
updates:
  # Maven dependencies
  - package-ecosystem: "maven"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 10
    groups:
      maven-minor-patch:
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"